{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume-Builder</title>
    <link rel="shortcut icon" href="{%static 'images/resume.ico'  %}">
    <link rel="stylesheet" href="{%static 'css/index0.css' %}">
</head>
<body>
    <div class="wrapper">
    <h1 style="text-align:center"> Build Your Resume in minutes. </h1>
    <a href="gra_res"><span>Click here if you are a Graduation Student.</span></a>
    <br>
    <a href="pg_res"><span>Click here if you are a  Post Graduation Student.</span></a>
    <br>
    </div>
      
</body>
</html> 