{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'images/select.ico'  %}">
    <link rel="stylesheet" href="{%static 'css/front.css' %}">
    <title>PG-Resume-Formats</title>
</head>
<body>
    <h1 style= "text-align:center"> Choose Your Resume Format <h1>
    <div>
        <a href="pg_res_form0">
        <img class="floatLeft" src="{%static 'images/pg1.png' %}">
        </a>
    </div>
    <div>
        <a href="pg_res_form1">
        <img class="floatRight" src="{%static 'images/pg0.png' %}">
        </a>
    </div>

    
</body>
</html>